<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :subscription_plans %>
  <ul>

  <% Newspaper.includes(:subscription_plans).all.each do |paper| %>
    <%= paper.title %>
    <select name="user[subscription_plan_ids][]">
      <option value="">Not Subscribed</option>
    <% paper.subscription_plans.each do |plan| %>
      <% if @user.subscription_plan_ids.include?(plan.id) %>
      <option value='<%= plan.id %>' selected>
      <% else %>
      <option value='<%= plan.id %>'>
      <% end %>
      <%= "#{plan.frequency} - $#{number_to_currency(plan.price) }" %></option>
    <% end %>
    </select>
    <br>
  <% end %>
  <br>
  <%= hidden_field_tag "user[subscription_plan_ids][]" %>
  </ul>
  <br>
  <%= f.submit class: "btn" %>
  <%= link_to "Cancel", :back, class: "btn" %>
<% end %>