<!DOCTYPE html>
<html>
<head>
  <title>AppNewspaper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container' style='margin-top: 10px;'>
    <div class='row'>
      <center>
      <span>
        <%= link_to "newspapers", newspapers_url %> 
        | 
        <% if signed_in? %>
        logged in as <%= link_to current_user.name, user_path(current_user) %>
        |
        <%= link_to "logout", session_url, method: :delete %>
        <% else %>
        <%= link_to "login", new_session_url %>
        |
        <%= link_to "sign up", new_user_url %>
        <% end %>
      </span>
      </center>
    </div>
    <% flash.each do |type, message| %>
    <div class="alert alert-#{type}">
      <%= message %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
